$c-light-gray: #c7c7c7;
$c-dark-lilac: #8a3770;
$c-light-lilac: #AF458E;
$c-dark-blue: #8272d8;
$c-light-blue: #c1cae5;
$c-color-white: #ffffff;
$c-color-red: #a81e49;

$theme-font: Arial, Helvetica, sans-serif;

$c-form-border: $c-light-gray;
$c-form-bcg: $c-color-white;
$c-body-gradient-1: $c-light-lilac;
$c-body-gradient-2: $c-dark-blue;
$c-body-gradient-3: $c-light-blue;
$c-label: $c-dark-lilac;
$c-invalid-input: $c-color-red;