$color-form-text: #fff;
$color-background-top: #473183;
$color-background-bottom: #408fa2;
$color-btn-background: #0389ce;
$color-input-focus: #a2dbf9;
$color-placeholder: #7193a5;
$color-btn-hover: #099eeb;
$btn-shadow: #006ca6;
$font-family-text: 'Lato', sans-serif;